#csalan {
    background-color: mediumspringgreen;
    border: 10px solid rgb(0, 139, 86)
}

#levendula {
    background-color: plum;
    border: 10px solid rgb(189, 125, 189)
}

#gyomber {
    background-color: rgb(240, 227, 43);
    border: 10px solid rgb(163, 154, 28);
}

#kamilla {
    background-color: rgb(248, 248, 248);
    border: 10px solid rgb(255, 240, 174);
}

#tarolo {
    border: 10px solid rgb(117, 166, 182);
    border-radius: 10vh;
    padding: 10px;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(173, 216, 230);
    background-image: url(kepek/fohatter.png);
}

#tarolo div {
    background-image: url(kepek/divhatter.png);
    border-radius: 10vh;
    padding: 50px;

}

#linkek {
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 10px solid rgb(117, 166, 182);
    border-radius: 10vh;
    background-color: rgb(173, 216, 230);
    background-image: url(kepek/fohatter.png);
    margin-bottom: 5vh;
}

#linkek a {
    font-size: 2vw;
    border: 10px solid rgb(252, 149, 252);
    border-radius: 4vh;
    padding: 50px;
    background-color: rgb(255, 184, 255);
    color: black;
    margin: auto;
}

body {
    background-image: url(kepek/fohatter.png);
    background-color: lightgoldenrodyellow;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 100px;
}

div {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px;
}

p {
    text-align: justify;
    font-size: 1.5vw;
}

#h1div {
    text-align: center;
    margin: auto;
    font-size: 3.5vw;
    border-radius: 5vh;
    background-color: white;
    border: 10px dashed black;
}

h2 {
    text-align: center;
    font-size: 3vw;
}

.tarolo h2 {
    border: 10px dashed black;
    border-radius: 5vh;
    padding: 10px;
}

img {
    border-radius: 10vh;
    margin: auto;
    width: 100%
}

* {
    box-sizing: border-box
}

@media screen and (max-width: 1300px) {
    #tarolo {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1100px) {
    #linkek {
        grid-template-columns: 1fr;
    }

    #linkek a {
        padding: 50px;

        padding-left: 5em;
        padding-right: 5em
    }
}


